.App {
  text-align: center;
  margin-top: 1em;
}

.appTeamImage {
  width: 100%;
}

.twitterLogo {
  width: 2em;
}

.contact_me {
  text-align: left;
  color: white;
}

.colaborate {
  text-align: left;
  color: white;
}

.resume {
  text-align: justify;
  color: white;
}
